<app-header-toolbar></app-header-toolbar>

<ion-content class="ion-padding">
  <ion-title class="sub-title">I Spy Koala</ion-title>
  <ion-grid>

    <form [formGroup]="form" *ngIf="errors.errors$ | async as messages">
      <ion-input color="primary"
                 label-placement="stacked"
                 fill="outline"
                 label="Username (visible to other users)"
                 formControlName="name_user"
                 [errorText]="messages['name_user']"
                 autocapitalize="false"></ion-input>


      <ion-input color="primary"
                 label-placement="stacked"
                 fill="outline"
                 label="Email Address"
                 [errorText]="messages['email']"
                 formControlName="email"
                 type="email"
                 autocapitalize=off></ion-input>

      <ion-input color="primary"
                 label-placement="stacked"
                 fill="outline"
                 label="Given Names"
                 [errorText]="messages['name_given']"
                 formControlName="name_given"
                 autocapitalize=off></ion-input>

      <ion-input color="primary"
                 label-placement="stacked"
                 fill="outline"
                 label="Last Name"
                 [errorText]="messages['name_last']"
                 formControlName="name_last"
                 autocapitalize=off></ion-input>

      <ion-input color="primary"
                 label-placement="stacked"
                 fill="outline"
                 label="Password"
                 [errorText]="messages['password']"
                 formControlName="password" type="password"></ion-input>

      <ion-input color="primary"
                 label-placement="stacked"
                 fill="outline"
                 label="Repeat Password"
                 [errorText]="messages['password_again']"
                 (paste)="$event.preventDefault()"
                 formControlName="password_again" type="password"></ion-input>

      <ion-button expand="block" type="submit" (click)="doSignup()"
                  [disabled]="!form.valid">
        Sign Up
      </ion-button>
      <ion-label
        class="go-back"
        (click)="doReturn()">
        Already have an account? Login here
      </ion-label>
    </form>
  </ion-grid>
</ion-content>
