<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Observation</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">

            <div  class="form-row">
              <ion-item *ngFor="let field of formDescriptor.fields">
                <ion-label floating>{{field.label}}</ion-label>
                <ion-input *ngIf="field.type=='text'" [type]="field.type" [formControlName]="field.key"></ion-input>
                <ion-select *ngIf="field.type=='select'" [formControlName]="field.key">
                  <ion-option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</ion-option>
                </ion-select>
                <ion-datetime *ngIf="field.type=='datetime'" [formControlName]="field.key"></ion-datetime>
              </ion-item>
            </div>

            <div class="form-row">
                <button type="submit" [disabled]="!form.valid">Save</button>
            </div>
        </form>

        <div *ngIf="payLoad" class="form-row">
            <strong>Saved the following values</strong><br>{{payLoad}}
        </div>
    </div>
</ion-content>
