<ion-header>
    <ion-navbar>
        <ion-title>Observation</ion-title>
        <ion-buttons end>
            <button ion-button icon-end solid color="primary" (click)="save()">
                Save
                <ion-icon name="checkmark-circle-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--<ion-segment [(ngModel)]="showForm" color="secondary">-->
        <!--<ion-segment-button [value]="true">-->
            <!--Form-->
        <!--</ion-segment-button>-->
        <!--<ion-segment-button [value]="false">-->
            <!--Photos-->
        <!--</ion-segment-button>-->
    <!--</ion-segment>-->

    <!--<div>-->
        <div *ngIf="showForm && formDescriptor">
            <form [formGroup]="form">
                <ion-item *ngFor="let field of formDescriptor.fields" [ngSwitch]="field.type">
                    <ion-label *ngIf="field.type !== 'boolean'" floating>{{field.label}}</ion-label>
                    <ion-label *ngIf="field.type === 'boolean'">{{field.label}}</ion-label>

                    <ion-input *ngSwitchCase="'text'" [formControlName]="field.key"></ion-input>
                    <ion-input *ngSwitchCase="'number'" [type]="field.type" [formControlName]="field.key"></ion-input>

                    <ion-select *ngSwitchCase="'select'" [formControlName]="field.key">
                        <ion-option *ngFor="let opt of field.options" [value]="opt">{{ opt }}</ion-option>
                    </ion-select>

                    <ion-datetime *ngSwitchCase="'datetime'" [formControlName]="field.key"></ion-datetime>

                    <ion-toggle *ngSwitchCase="'boolean'" color="primary"></ion-toggle>
                </ion-item>
            </form>
        </div>
        <!--<div *ngIf="!showForm">-->

        <!--</div>-->
    <!--</div>-->
</ion-content>
