<ng-container *ngIf="record$ | async as record">

  <app-header-toolbar [title]="title"></app-header-toolbar>

  <ion-content>

    <ion-segment [(ngModel)]="segment" color="primary">
      <ion-segment-button value="form">
        Form
      </ion-segment-button>

      <ng-content select="[content-segments]">
      </ng-content>

      <ion-segment-button value="photos">
        Photos
      </ion-segment-button>
    </ion-segment>


    <ng-container *ngIf="segment === 'form'">
      <app-record-form [dataset]="dataset"
                       [record]="record"
                       [writeable]="record.isWriteable()"
                       [countField]="countField"
                       [dateField]="dateField"
                       (onValid)="doValid($event)"
                       (onDirty)="doDirty($event)">
      </app-record-form>
    </ng-container>

    <ng-content select="[content-page]">
    </ng-content>

    <ng-container *ngIf="segment === 'photos'">
      <app-record-photos [record]="record"
                         [writeable]="record.isWriteable()">
      </app-record-photos>

      <app-fab-slot *ngIf="record.isWriteable()" horizontal="end" vertical="bottom">
        <app-fab-button [icon]="faCamera" [text]="'Camera'" (click)="doCamera()">
        </app-fab-button>
        <app-fab-button [icon]="faImage" [text]="'Gallery'" (click)="doGallery()">
        </app-fab-button>
      </app-fab-slot>
    </ng-container>

  </ion-content>
</ng-container>
