<ng-container *ngIf="record$ | async as record">

  <app-header-toolbar [title]="title"></app-header-toolbar>

  <ion-content>
    <ion-item-divider sticky color="tertiary">
      <ion-segment [(ngModel)]="segment" color="primary" mode="md">
        <ion-segment-button value="form">
          Form
        </ion-segment-button>

        <ng-content select="[content-segments]">
        </ng-content>

        <ion-segment-button value="photos">
          Photos
        </ion-segment-button>
      </ion-segment>
    </ion-item-divider>


    <ng-container *ngIf="segment === 'form'">
      <app-record-form [dataset]="dataset"
                       [record]="record"
                       [writeable]="record.isWriteable()"
                       [countField]="countField"
                       [dateField]="dateField"
                       (onValid)="doValid($event)"
                       (onDirty)="doDirty($event)">
      </app-record-form>
    </ng-container>

    <ng-content select="[content-page]">
    </ng-content>

    <ng-container *ngIf="segment === 'photos'">
      <ion-buttons mode="md" *ngIf="record.isWriteable()">
        <ion-button (click)="doCamera()">
          Take a photo
        </ion-button>
        <ion-button (click)="doGallery()">
          Use an existing photo
        </ion-button>
      </ion-buttons>

      <app-record-photos [record]="record"
                         [writeable]="record.isWriteable()">
      </app-record-photos>
    </ng-container>

  </ion-content>
  <ion-footer *ngIf="segment === 'form' && this.showFooter" slot="fixed">
    <ion-buttons mode="md" *ngIf="record.isWriteable()">
      <ion-button (click)="doSave()">
        Save
      </ion-button>
      <ion-button class="delete" (click)="doDelete()">
        Delete
      </ion-button>
    </ion-buttons>
  </ion-footer>
</ng-container>
