:host {
  display: contents;
}

.ion-tab-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  &__icon {
    margin: 0 8px;
  }

  &__text {
    text-align: center;
    margin: 0;
  }
}

.base-record__buttons {
  fa-icon {
    margin-right: 0.5em;
  }
}

.iconButtons {
  margin: 0;
  font-size: 1.5em;
}

@media only screen and (max-width: 450px) {
  .base-record__buttons {
    display: flex;
    flex-direction: column-reverse;
    margin: 0.5em;
    gap: 0.5em;
    align-items: flex-end;
  }
}
