<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Records</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button class="ion-tab-button" tab="list">
        <fa-icon class="ion-tab-button__icon" [icon]="faList"/>
        <ion-label class="ion-tab-button__text">List View</ion-label>
      </ion-tab-button>
      <ion-tab-button class="ion-tab-button" tab="map">
        <fa-icon class="ion-tab-button__icon" [icon]="faMap"/>
        <ion-label class="ion-tab-button__text">Map</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-fab slot="fixed" horizontal="start" vertical="bottom">
    <app-fab-button [src]="'../../../assets/imgs/white_upload.png'"
                    [text]="'Upload'"
                    (click)="doUpload()">
    </app-fab-button>
  </ion-fab>

  <ng-container *ngIf="records$ | async as records">
    <app-fab-slot *ngIf="records.length > 0" horizontal="end" vertical="bottom">
      <app-fab-button [src]="'../../../assets/imgs/white_eye.png'"
                      [text]="'Observation'"
                      (click)="doNewObservation()">
      </app-fab-button>
      <app-fab-button [src]="'../../../assets/imgs/white_trees.png'"
                      [text]="'Census'"
                      (click)="doNewCensus()">
      </app-fab-button>
    </app-fab-slot>
  </ng-container>

</ion-content>
