
ion-content {
  display: flex;
}

ion-tabs {

  .ion-tab-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;

  }
}


