<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Koala Scat Census</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" size="small" (click)="doDelete()">
        <fa-icon [icon]="faTrashCan"></fa-icon>
        Delete
      </ion-button>
      <ion-button *ngIf="writeable$ | async" fill="solid" color="primary" size="small" (click)="doSave()">
        <fa-icon [icon]="faSave"></fa-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-segment [(ngModel)]="segment" color="primary">
    <ion-segment-button value="form">
      Form
    </ion-segment-button>

    <ion-segment-button value="observations">
      Tree Surveys List
    </ion-segment-button>

    <ion-segment-button value="photos">
      Photos
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="segment === 'form'">
    <app-record-form [dataset]="DATASET_NAME_CENSUS" (onDirty)="setDirty($event)">
    </app-record-form>
  </ng-container>

  <ng-container *ngIf="segment === 'observations'">
    <ng-container *ngIf="children$ | async as children; else createObservations">
      <app-records-list *ngIf="children.length; else createObservations" [records]="children">

      </app-records-list>
    </ng-container>

    <ng-template #createObservations>
      <h1>This census does not have any tree surveys</h1>
      <p>
        On this screen you can view the tree surveys related to this census. You can also create a
        new tree survey. Each census can have many tree surveys.
      </p>
      <ion-button class="fab-button" (click)="doNewSurvey()">
        <ion-img class="fab-button__img"  slot="start" src="../../../assets/imgs/white_tree.png" alt="Koala Tree Survey" aria-hidden="true" />
        <ion-label class="fab-button__text" slot="start">Create a tree survey for this census</ion-label>
      </ion-button>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="segment === 'photos'">
    <app-record-photos>
    </app-record-photos>
  </ng-container>

  <ion-fab class="form-hover-buttons" *ngIf="writeable$ | async" slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button aria-label="Add Photo From Camera" (click)="doCamera()" color="primary">
        <fa-icon class="iconButtons" [icon]="faCamera"></fa-icon>
      </ion-fab-button>
      <ion-fab-button aria-label="Add Photo From Gallery" (click)="doGallery()" color="primary">
        <fa-icon class="iconButtons" [icon]="faImage"></fa-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
