<ng-container *ngIf="dataset$ | async as dataset">
  <ng-container *ngIf="fields; else noFields">
    <form [formGroup]="form">

      <ion-item-group *ngIf="fields.dateFields && fields.dateFields.length">
        <ion-item-divider color="secondary">
          <fa-icon [icon]="faCalendar"></fa-icon>
          Dates
        </ion-item-divider>

        <ion-list>
          <ng-container *ngFor="let field of fields.dateFields">
            <app-date-field [formGroup]="form" [field]="field" [readonly]="readonly"></app-date-field>
          </ng-container>
        </ion-list>
      </ion-item-group>

      <ion-item-group *ngIf="fields.locationFields && fields.locationFields.length">
        <ion-item-divider color="secondary">
          <app-location-selector [formGroup]="form" [readonly]="readonly"/>
        </ion-item-divider>

        <ion-list>
          <ng-container *ngFor="let field of fields.locationFields">
            <app-field [formGroup]="form" [field]="field" [readonly]="readonly"/>
          </ng-container>
        </ion-list>
      </ion-item-group>

      <ion-item-group *ngIf="fields.requiredFields && fields.requiredFields.length">
        <ion-item-divider color="secondary">
          <fa-icon [icon]="faAsterisk" />
          Required fields
        </ion-item-divider>

        <ion-list>
          <ng-container *ngFor="let field of fields.requiredFields">
            <app-field [formGroup]="form" [field]="field" [readonly]="readonly"/>
          </ng-container>
        </ion-list>
      </ion-item-group>

      <ion-item-group *ngIf="fields.optionalFields && fields.optionalFields.length">
        <ion-item-divider color="secondary">
          <fa-icon [icon]="faStar" />
          Optional fields
        </ion-item-divider>

        <ion-list>
          <ng-container *ngFor="let field of fields.optionalFields">
            <app-field [formGroup]="form" [field]="field" [readonly]="readonly"/>
          </ng-container>
        </ion-list>
      </ion-item-group>

      <app-hidden-field *ngFor="let field of fields.hiddenFields"
                        [formGroup]="form"
                        [field]="field"
                        [readonly]="readonly"/>

    </form>

  </ng-container>

  <ng-template #noFields>
    There are no fields defined as part of the dataset.
  </ng-template>
</ng-container>
