page-list {

}

table#category-legend {
  min-height: 2em;
  margin-left: auto;
  margin-right: auto;
}

td.category-legend-colour {
  height: 2em;
  width: 2em;
}

td.category-legend-label {
  vertical-align: middle;
  padding-left: 2em;
  padding-right: 4em;
  text-align: center;
}

table#category-legend tr {
}

div#category-legend-div {
  margin-bottom: 1em;
  margin-top: 1em;
}

#category-completed {
  background-color: #ebffef;
}

#category-incomplete {
  background-color: #ebf6ff;
}

img.data-row-img {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}

span.data-row-time {
  padding-left: 3em;
  padding-right: 3em;
  vertical-align: middle;
}

img.data-row-koala-icon {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}

span.data-row-koala-count {
  padding-left: 0.25em;
  vertical-align: middle;
}

.fab {
  background-color: green;
}

img.home-fab-icon {
}
