<ion-content>
<div *ngIf="showLegend" id="category-legend-div">
    <table id="category-legend">
        <td class="category-legend-colour" id="category-completed"></td>
        <td class="category-legend-label">Complete</td>
        <td class="category-legend-colour" id="category-incomplete"></td>
        <td class="category-legend-label">Incomplete</td>
    </table>
</div>

<ion-list>
    <button ion-item *ngFor="let record of records" [style.background-color]="getStatusColor(record)"
            (click)="itemTapped($event, record)">
        <img item-start class="data-row" [src]="getIcon(record)"/>
        <ion-label>{{ record.datetime | date: angularDateFormat }}</ion-label>
        <img *ngIf="record.count" item-end class="data-row" src="assets/imgs/koala_data_koala.png"/>
        <span item-end>{{ record.count }}</span>
    </button>
</ion-list>
</ion-content>