table#category-legend {
    min-height: 2em;
    margin-left: auto;
    margin-right: auto;
}

td.category-legend-colour {
    height: 2em;
    width: 2em;
}

td.category-legend-label {
    vertical-align: middle;
    padding-left: 2em;
    padding-right: 4em;
    text-align: center;
}

div#category-legend-div {
    margin-bottom: 1em;
    margin-top: 1em;
}

#category-completed {
    background-color: #ebffef;
}

#category-incomplete {
    background-color: #ebf6ff;
}

#category-uploaded {
    background-color: #ebf0df;
}

img.data-row {
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

.local-fab {
    background-color: green;
}

#no-data-div {
    height: 100%;
    width: 100%;
    padding: 10%;
}

.no-data {
    color: grey;
}

.row {
    align-items: center;
}
