table#category-legend {
    min-height: 2em;
    margin-left: auto;
    margin-right: auto;
}

.category-legend-colour {
    height: 2em;
    width: 2em;
}

.category-legend-label {
    vertical-align: middle;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

div#category-legend-div {
    margin-bottom: 1em;
    margin-top: 1em;
}

#category-completed {
    background-color: #ebffef;
}

#category-incomplete {
    background-color: #ebf6ff;
}

#category-uploaded {
    background-color: #ebf0df;
}

img.data-row {
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

.local-fab {
    background-color: rgba(0,0,0,0);
    width: 80px;
    height: 80px;
}

.howto {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;

    h1 {
        color: black;
    }

    p {
        color: black;
        font-size: 14pt;
    }
}

.row {
    align-items: center;
}

.vertical-align-middle {
    vertical-align: middle
}

.fab-img {
    min-width: 80px;
    min-height: 80px;
}
.fabbed-img {
    width: 60px;
    height: 60px;
}
