<ion-content style="min-height: 500px">
    <div [hidden]="!records.length || !showLegend" id="category-legend-div">
        <ion-grid id="category-legend">
            <ion-row>
                <ion-col class="category-legend-label" id="category-completed">Complete</ion-col>
                <ion-col class="category-legend-label" id="category-incomplete">Incomplete</ion-col>
                <ion-col class="category-legend-label" id="category-uploaded">Uploaded</ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div [hidden]="!records.length">
        <ion-list>
            <button ion-item *ngFor="let record of records" [style.background-color]="getStatusColor(record)"
                    (click)="itemTapped($event, record)">
                <img item-start class="data-row" [src]="getDatasetIcon(record)"/>
                <ion-label>{{ record.datetime | date: angularDateFormat }}</ion-label>
                <img item-end class="data-row" [src]="getCountIcon(record)"/>
                <span item-end>{{ record.count || 0 }}</span>
                <img item-end class="data-row" src="assets/imgs/camera.png"/>
                <span item-end>{{ record.photoIds?.length || 0 }}</span>
            </button>
        </ion-list>
    </div>

    <div [hidden]="records.length" class="info">
        <div *ngIf="showHowto">
            <h1>Welcome to ${{APP_NAME}}</h1>
            <p>
                To get started, choose from the buttons below to create an opportunistic observation
                or start a census.
            <p>
            <ion-grid>
                <ion-row>
                    <ion-col col-md-3 col-sm-6>
                        <button class="local-fab"
                                (click)="onClickedNewRecord(DATASETNAME_OBSERVATION)">
                            <img alt="Koala Opportunistic Observation" class="fab-img"
                                 src="assets/imgs/fab-eye.png">
                        </button>
                    </ion-col>
                    <ion-col>
                        <h2 class="vertical-align-middle">Create an Opportunistic Observation</h2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-md-3 col-sm-6>
                        <button class="local-fab"
                                (click)="onClickedNewRecord(DATASETNAME_CENSUS)">
                            <img alt="Koala Census" class="fab-img"
                                 src="assets/imgs/fab-trees.png">
                        </button>
                    </ion-col>
                    <ion-col>
                        <h2 class="vertical-align-middle">Start a Census</h2>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <p>
                Once you have recorded your data, a list of the records will be displayed here.
                You can also switch to see the records displayed on a map view using the tab buttons above.
                Click on a record in the list to continue editing that record.
            </p>
            <h2>
                Uploading Records
            </h2>
            <p>
                When one or more records have been completed, you can upload them to the server by clicking the upload
                button. Completed records (shown in green) are those where all required fields are entered and within
                the allowable constraints. You can still upload the completed records even if there are incomplete
                records (shown in blue), although the latter will not be uploaded.
            </p>
            <ion-grid>
                <ion-row>
                    <ion-col col-md-3 col-sm-6>
                        <button class="local-fab"
                                (click)="uploadClicked()">
                            <img class="fab-img"
                                 src="assets/imgs/fab-upload.png">
                        </button>
                    </ion-col>
                    <ion-col>
                        <h1 class="vertical-align-middle">Upload Data</h1>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div *ngIf="!showHowto">
            <h1>This Census does not have any Tree Surveys</h1>
            <p>
                On this screen you can view the tree surveys related to this census. You can also create a
                new tree survey. Each Census can have many Tree Surveys.
            </p>
            <ion-grid>
                <ion-row>
                    <ion-col col-md-3 col-sm-6>
                        <button class="local-fab"
                                (click)="onClickedNewRecord(DATASETNAME_TREESURVEY)">
                            <img alt="Koala Tree Survey" class="fab-img"
                                 src="assets/imgs/fab-tree.png">
                        </button>
                    </ion-col>
                    <ion-col>
                        <h2 class="vertical-align-middle">Create a Tree Survey for this Census</h2>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
