<ion-content style="min-height: 500px">
    <div [hidden]="!records.length || !showLegend" id="category-legend-div">
        <ion-grid id="category-legend">
            <ion-row>
                <ion-col class="category-legend-label" id="category-completed">Complete</ion-col>
                <ion-col class="category-legend-label" id="category-incomplete">Incomplete</ion-col>
                <ion-col class="category-legend-label" id="category-uploaded">Uploaded</ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div [hidden]="!records.length">
        <ion-list>
            <button ion-item *ngFor="let record of records" [style.background-color]="getStatusColor(record)"
                    (click)="itemTapped($event, record)">
                <img item-start class="data-row" [src]="getDatasetIcon(record)"/>
                <ion-label>{{ record.datetime | date: angularDateFormat }}</ion-label>
                <img item-end class="data-row" [src]="getCountIcon(record)"/>
                <span item-end>{{ record.count || 0 }}</span>
                <img item-end class="data-row" src="assets/imgs/camera.png"/>
                <span item-end>{{ record.photoIds?.length || 0 }}</span>
            </button>
        </ion-list>
    </div>

    <div [hidden]="records.length" class="welcome">
        <div id="no-data-div">
            <ion-grid>
                <ion-row *ngIf="showWelcome">
                    <ion-col>
                        <h1>Welcome to Koala Watch</h1>
                        <p>
                            On this screen you can view records you are currently working with, and start a new census
                            or observation. You can also switch between a list or map of your data using the tabs above.
                        </p>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="!showWelcome" style="padding-bottom: 1em;">
                    <ion-col>
                        <h1>This Census does not have any Tree Sightings</h1>
                        <p>
                            On this screen you can view the tree surveys related to this census. You can also create a
                            new tree survey. Each Census can have many Tree Sightings.
                        </p>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="showObservation">
                    <ion-col col-2>
                        <button class="local-fab"
                                (click)="onClickedNewRecord(DATASETNAME_OBSERVATION)">
                            <img alt="Koala Opportunistic Observation" class="fab-img"
                                 src="assets/imgs/fab-eye.png">
                        </button>
                    </ion-col>
                    <ion-col>
                        <h1 class="vertical-align-middle">Create an Opportunistic Observation</h1>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="showCensus">
                    <ion-col col-2>
                        <button class="local-fab"
                                (click)="onClickedNewRecord(DATASETNAME_CENSUS)">
                            <img alt="Koala Census" class="fab-img"
                                 src="assets/imgs/fab-trees.png">
                        </button>
                    </ion-col>
                    <ion-col>
                        <h1 class="no-data vertical-align-middle">Start a Census</h1>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="showTree">
                    <ion-col col-2>
                        <button class="local-fab"
                                (click)="onClickedNewRecord(DATASETNAME_TREESIGHTING)">
                            <img alt="Koala Tree Survey" class="fab-img"
                                 src="assets/imgs/fab-tree.png">
                        </button>
                    </ion-col>
                    <ion-col>
                        <h1 class="no-data vertical-align-middle">Create a Tree Sighting for this Census</h1>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="showUpload">
                    <ion-col col-2>
                        <button class="local-fab"
                                (click)="uploadClicked()">
                            <img class="fab-img"
                                 src="assets/imgs/fab-upload.png">
                        </button>
                    </ion-col>
                    <ion-col>
                        <h1 class="no-data vertical-align-middle">Upload Data</h1>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
