ion-item {
  font-size: 14px;
}

.record-time {
  text-align: center;
}

.record-type, .record-status {
  font-weight: 500;
  text-wrap: nowrap;
}

fa-icon {
  font-size: 20px;
  color: var(--ion-color-primary);
}

.record-status {
  padding: 8px;
  text-align: center;

  &.to-upload {
    background: rgb(253,237,223);
  }

  &.incomplete {
    background: rgb(255,230,234);
  }

  &.uploaded {
    background: rgb(226,246,231);
  }

}
