.record-time {
  font-size: 14px;
  text-align: center;
}

.record-type, .record-status {
  font-weight: 500;
}

fa-icon {
  margin-left: 12px;
  font-size: 20px;
  color: var(--ion-color-primary);
}

.record-status {
  padding: 8px;
  text-align: center;

  &.complete {
    background: rgb(210,236,251);
  }

  &.incomplete {
    background: rgb(255,237,229);
  }

  &.uploaded {
    background: rgb(226,246,231);
  }

}
