<ng-container *ngIf="!displayRecords.length">
  <ng-content></ng-content>
</ng-container>

<ng-container *ngIf="displayRecords.length">
  <ion-list>
    <ion-item *ngFor="let record of displayRecords"
              [class]="record.statusClass"
              (click)="doRecordClicked(record.data)" lines="full">
        <ion-label class="record-type">{{record.recordType}}</ion-label>
        <ion-label class="record-time">
          {{ record.data.datetime | date: 'dd/MM/yyyy HH:mm' }}
        </ion-label>
        <ion-label class="record-status" [class]="record.statusClass.toLowerCase()">{{getStatusLabel(record.statusClass)}}</ion-label>
        <fa-icon [icon]="faChevronRight"></fa-icon>
    </ion-item>
  </ion-list>
</ng-container>
