<ion-card>
    <ion-card-content>
        <div *ngIf="showPhotos()">
            <div class="photo-container">
                <img class="photo-img" [src]="domSanitizer.bypassSecurityTrustUrl(photoSrc)">
                <div class="top-right">
                    <img *ngIf="!readonly" src="assets/imgs/white_trash.png" (click)="deleteClick()">
                </div>
                <div class="center-left" *ngIf="showLeftChevron()">
                    <img src="assets/imgs/white_left_chevron.png" (click)="pageLeftClick()">
                </div>
                <div class="center-right" *ngIf="showRightChevron()">
                    <img src="assets/imgs/white_right_chevron.png" (click)="pageRightClick()">
                </div>
            </div>
        </div>
        <div *ngIf="!showPhotos() && !readonly">
            Add photos using the Take Photo button
        </div>
        <div *ngIf="!showPhotos() && readonly">
            This record has been uploaded, photos cannot be added
        </div>
    </ion-card-content>
</ion-card>
