<ion-card>
    <ion-card-content>
        <div *ngIf="showPhotos()">
            <div class="photo-container">
                <img class="photo-img" [src]="domSanitizer.bypassSecurityTrustUrl(photoSrc)">
                <div class="top-right">
                    <img *ngIf="!readonly" src="assets/imgs/white_trash.png" (click)="deleteClick()">
                </div>
                <div class="center-left" *ngIf="showLeftChevron()">
                    <img src="assets/imgs/white_left_chevron.png" (click)="pageLeftClick()">
                </div>
                <div class="center-right" *ngIf="showRightChevron()">
                    <img src="assets/imgs/white_right_chevron.png" (click)="pageRightClick()">
                </div>
            </div>
        </div>
        <div *ngIf="!showPhotos() && !readonly">
            <div>
                <p>
                    Use the camera button to add photos to your record.
                <p>
                <button class="fab-button" (click)="onClickedNewPhoto()">
                    <img class="fab-button__img" src="assets/imgs/fab-camera.png" alt="Koala Opportunistic Observation">
                    <span class="fab-button__text">Take a photo</span>
                </button>
                <p>
                    All photos relating to this record will be displayed here.  You will be able
                    to view each photo using the left and right chevrons. Photos can be deleted
                    using the trash icon.
                </p>
            </div>
        </div>
        <div *ngIf="!showPhotos() && readonly">
            This record has been uploaded, photos cannot be added or deleted.
        </div>
    </ion-card-content>
</ion-card>
