.photo-container {
    position: relative;
    text-align: center;
    color: white;
}

.center-left {
    width: 10%;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0%, -50%);
}

.center-right {
    width: 10%;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0%, -50%);
}

.top-right {
    width: 10%;
    position: absolute;
    top: 8px;
    right: 16px;
}
