<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Trees Surveyed</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" size="small" (click)="doDelete()">
        <fa-icon [icon]="faTrashCan"></fa-icon>
        Delete
      </ion-button>
      <ion-button fill="solid" color="primary" size="small" (click)="doSave()">
        <fa-icon [icon]="faSave"></fa-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-segment [(ngModel)]="segment" color="primary">
    <ion-segment-button value="form">
      Form
    </ion-segment-button>
    <ion-segment-button value="photos">
      Photos
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="segment === 'form'">
    <app-record-form [dataset]="DATASET_NAME_TREESURVEY" [readonly]="readonly">
    </app-record-form>
  </ng-container>

  <ng-container *ngIf="segment === 'photos'">
    <app-record-photos>
    </app-record-photos>
  </ng-container>

  <ion-fab class="form-hover-buttons" *ngIf="!readonly" slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button aria-label="Add Photo From Camera" (click)="doCamera()">
      <fa-icon class="iconButtons" [icon]="faCamera"></fa-icon>
    </ion-fab-button>
    <ion-fab-button aria-label="Add Photo From Gallery" (click)="doGallery()">
      <fa-icon class="iconButtons" [icon]="faImage"></fa-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
