page-sign-up {

}

ion-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.errorLabel {
    color: #f53d3d; // danger
    font-size: 0.6em;
    margin-top: 0;
    padding-top: 0;
    --inner-border-width: 0 !important;
}

[hidden] {
    display: none !important;
}

.custom-item-test {
    min-width: max-content !important;
}
