<div class="info">
  <h1>Privacy Policy</h1>
  <p>
    <i>Last modified on 16 May 2025</i>
  </p>
  <p>
    The purpose of this policy is to tell you what kind of personal information that the NSW Department of Climate Change,
    Energy, the Environment and Water (the department) may collect from you when you use the I Spy Koala application (“the app”),
    how we may use that information, whether we disclose it to anyone and how you can access the information.
  </p>

  <p>
    This privacy policy only concerns personal information collected by the department.
    The I Spy Koala application is distributed through Google Play and the App Store. By using this application,
    you may also provide personal information directly to Google or Apple. Depending on your preferred smartphone system,
    we recommend that you examine the privacy policy of your Android or Apple device and Terms of Service of Google Play and the App Store.
  </p>

  <h2>Your right to privacy</h2>
  <p>
    In dealing with your personal information the department must comply with the Privacy and Personal Information Protection Act 1998 (NSW),
    which regulates the collection, storage, quality, use and disclosure of personal information.
  </p>

  <h2>What is your personal information?</h2>
  <p>
    Personal information is information or an opinion about you. You do not need to be named in the information.
    It is only necessary that information about you is apparent or can reasonably be ascertained from the information.
    Personal information is found not just in paper files but also in such things as electronic records, video recordings and photographs.
  </p>

  <p>
    The department does not disclose such information to any third party other than as specified in this policy.
  </p>

  <h2>
    What personal information do we collect?
  </h2>
  <p>
    We will collect the following personal information from you when you register to use the app:
  </p>
  <ul>
    <li>your full name</li>
    <li>email address</li>
  </ul>

  <p>
    These details are recorded as a component associated with each observation in the government biodiversity database BioNet.
    BioNet may share records to third parties, however observer names for sightings are never publicly disclosed.
  </p>
  <p>
    The app may also collect information on:
  </p>
  <ul>
    <li>the physical site where an observation was made, including place name, time, time zone, date and coordinates</li>
    <li>your IP (internet protocol) address or hostname</li>
    <li>the device and operating system you are using</li>
    <li>whether you have previously visited the app (only if you accept cookies).</li>
  </ul>

  <h2>
    Why are we collecting your personal information?
  </h2>
  <p>
    The purpose of collecting your personal information is to help administer the app and help validate any observations submitted by you.
  </p>
  <p>
    We use personal information to deliver our services to you so that you can participate in the full experience of the app.
  </p>
  <p>
    In addition to some of the specific uses of information we describe in this privacy policy, we may use information that we receive to:
  </p>
  <ul>
    <li>
      help you efficiently access your information after you sign in
    </li>
    <li>
      remember information so you will not have to re-enter it during your visit
    </li>
    <li>
      provide, improve, test and monitor the effectiveness of the app
    </li>
    <li>
      develop and test new products and features
    </li>
    <li>diagnose and fix technology problems.</li>
  </ul>

  <h2>
    Is providing your personal information voluntary?
  </h2>
  <p>
    Providing the personal information described above is voluntary, yet if you do not provide this information you cannot use the app.
  </p>

  <h2>
    Will we disclose your personal information to any person?
  </h2>
  <p>
    Subject to the below, the department will not disclose your personal information to any third party.
  </p>
  <p>
    When you post an observation, this information is published to BioNet.
  </p>
  <p>
    The information that will be published is your full name, your unique BioNet observer identification number,
    and information about the physical site where an observation was made, including place name, time, time zone, date and coordinates.
  </p>
  <p>
    In addition to being published, this information will be disclosed to other parties.
    As these projects are part of broader national studies and conservation works we share your observations in
    a machine-readable format for certain observations with the Atlas of Living Australia,
    the Australian Ecological Knowledge Observation System (AEKOS),
    the Sharing and Enabling Environmental Data (SEED), and the Global Biodiversity Information Facility (GBIF).
  </p>

  <h2>What about links to other websites?</h2>
  <p>
    This privacy policy applies solely to information collected by the app.
  </p>
  <p>
    The app may contain links to other sites. We make no representations or warranties as to the privacy practices of any
    site operated by a third party and are not responsible for the privacy policies of such sites.
  </p>
  <p>
    We recommend that you examine the privacy policy for all third-party websites you visit to understand their procedures
    for collecting, using and disclosing personal information.
  </p>

  <h2>
    Access, storage and accuracy of personal information
  </h2>
  <p>
    Your personal information is being collected by the Department of Climate Change, Energy, the Environment and Water, Locked Bag 5022, Parramatta NSW 2124.
    It will be held by the department in an encrypted cloud-based server.
  </p>
  <p>
    <b>Access</b>
    - under the Privacy and Personal Information Protection Act 1998
    you have the right to access personal information the department holds about you.
  </p>
  <p>
    <b>Accuracy</b>
    - We are committed to ensuring that the information we hold is accurate, complete and up to date, so we encourage you to
    advise us if the information you have given us has changed.
    If you believe our information is inaccurate, please contact us.
  </p>
  <p>
    <b>Retention</b>
    – We will retain the information you have provided for a period that is appropriate for the purpose for which it was provided.
    Your information will be archived and disposed of in accordance with department policies,
    legislative requirements and guidelines based on the NSW State Records Act 1998.
  </p>
  <p>
    <b>Security</b>
    - We take reasonable steps to preserve the security of your personal information and other information or data processed through
    the app and integrated systems (BioSys and BioNet). Unfortunately, no data transmission over the internet can be guaranteed as perfectly secure.
    As a result, although we strive to protect your personal information,
    we cannot guarantee the security of any information you transmit to us and you transmit such information at your own risk.
  </p>
  <p>
    Once we have received information you transmit to us, we take reasonable steps to protect information during transfer and storage.
    Physical measures, such as building and equipment security, are used in conjunction with digital technology,
    such as data encryption and firewalls, to minimise unauthorised access to information.
  </p>

  <h2>Privacy enquiries</h2>
  <p>
    For more information about privacy at the department, please contact:
  </p>

  <p>
    GIPA & Privacy Unit
    <br>
    Locked Bag 5022
    <br>
    Parramatta NSW 2124
    <br>
  </p>

  <p>Phone: 02 9860 1440</p>
  <p></p>
  <p>
    Email: <a href="mailto:privacy@dpie.nsw.gov.au">privacy&#64;dpie.nsw.gov.au</a>
  </p>
</div>
