:host {
  width: 100%;
}

.location-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-buttons {
  margin: 10px 0;
}

.location-button {
  padding: 0 5px;
  margin-right: 10px;
}

