<ng-container *ngIf="formGroup">
  <fa-icon [icon]="faLocationArrow"></fa-icon>
  Location (Current Accuracy:
  <span *ngIf="accuracy === -1">Waiting for reading...</span>
  <span *ngIf="accuracy !== -1">{{ accuracy | number: '1.0-0' }}</span>
  )

  <ion-buttons class="location-buttons" *ngIf="!readonly">

    <ion-button id="open-modal" class="location-button">
      <fa-icon [icon]="faMapPin"/>
        Map
      <app-location-map-selector (onSelect)="doMapSelect($event)"></app-location-map-selector>
    </ion-button>

    <ion-button class="location-button" (click)="doGpsSelect()">
      <fa-icon [icon]="faLocationCrosshairs"/>&nbsp;
        GPS
    </ion-button>

  </ion-buttons>

</ng-container>
