<ng-container *ngIf="formGroup">
  <div class="location-selector">
    <ion-label>Location</ion-label>
    <ion-buttons class="location-buttons" *ngIf="!readonly">

      <ion-button [id]="id + '-modal'" class="location-button">
        Map
        <app-location-map-selector (onSelect)="doMapSelect($event)"
                                   [toggleId]="id + '-modal'"
                                   [lat]="lat"
                                   [lng]="lng">
        </app-location-map-selector>
      </ion-button>

      <ion-button class="location-button" (click)="doGpsSelect()">
        GPS
      </ion-button>

    </ion-buttons>
  </div>

</ng-container>
