<ng-container *ngIf="formGroup">
  <fa-icon [icon]="faLocationArrow"></fa-icon>
  Location (Current Accuracy: Waiting for reading...)

  <ion-buttons class="location-buttons" *ngIf="!readonly">

    <ion-button class="location-button" (click)="doMapSelect()">
      <fa-icon [icon]="faMapPin"/>
        Map
    </ion-button>

    <ion-button class="location-button" (click)="doGpsSelect()">
      <fa-icon [icon]="faLocationCrosshairs"/>&nbsp;
        GPS
    </ion-button>

  </ion-buttons>

  <!--
  <fa-icon icon="location-arrow"></fa-icon>&nbsp;
  Location (Current
  Accuracy: {{ lastLocation && lastLocation.coords ? ((lastLocation.coords.accuracy | number: '1.0-0') || 'Waiting for Reading...') : 'Waiting for Reading...' }}
  )
  <br/>
  <br/><br/>

  <ion-button *ngIf="!readonly"
              color="primary"
              (click)="openModal()"
              class="item-divider-button-map">
    <ion-icon name="pin"></ion-icon>&nbsp; Map
  </ion-button>

  <ion-button *ngIf="!readonly"
              color="primary"
              (click)="updateLocationFields()"
              class="item-divider-button">
    <ion-icon name="locate"></ion-icon>&nbsp; GPS
  </ion-button>
  -->
</ng-container>
