<ng-container *ngIf="showLegend && _records.length">
  <ion-grid>
    <ion-row>
      <ion-col class="category-legend-label" id="category-completed">Complete</ion-col>
      <ion-col class="category-legend-label" id="category-incomplete">Incomplete</ion-col>
      <ion-col class="category-legend-label" id="category-uploaded">Uploaded</ion-col>
    </ion-row>
  </ion-grid>
</ng-container>

<ng-container *ngIf="!_records.length">
  <ng-content></ng-content>
</ng-container>

<ng-container *ngIf="_records.length">
  <ion-list>
    <ion-item *ngFor="let record of _records"
              [class]="record.statusClass"
              (click)="doRecordClicked(record.data)">
      <ion-img slot="start"
               class="data-row"
               [alt]="record.altText"
               [src]="record.datasetIcon" aria-hidden="true"/>
      <ion-label>
        {{ record.data.datetime | date: 'dd/MM/yyyy HH:mm' }}
      </ion-label>
      <ion-img slot="end"
               class="data-row"
               [src]="record.countIcon"/>
      <span slot="end">{{ record.data.count || 0 }}</span>
      <ion-img slot="end" class="data-row" src="assets/imgs/camera.png"/>
      <span slot="end">{{ record.data.photoIds.length || 0 }}</span>
    </ion-item>
  </ion-list>
</ng-container>
