<ion-item *ngIf="field && formGroup" [formGroup]="formGroup">
  <ion-label>
    {{ field.label }}
  </ion-label>

  <ion-datetime-button [datetime]="'datetime-' + (field.key | classify)"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime [id]="'datetime-' + (field.key | classify)" [formControlName]="field.key"
                    [max]="currentDate | date: 'yyyy-MM-dd'"></ion-datetime>
    </ng-template>
  </ion-modal>


  <app-help-button *ngIf="field.description" [id]="'help-' + (field.key | classify)">
    {{ field.description }}
  </app-help-button>
</ion-item>
