<ion-content [fullscreen]="true">

  <google-map [id]="'map-page'" [center]="{ lat: -25, lng: 132}" [zoom]="3.5" [options]="options">
    <ng-container *ngIf="records$ | async as markers">
      <!--
      <app-google-map-marker *ngFor="let marker of markers"
                             [lat]="marker.lat"
                             [lng]="marker.lng"
                             [title]="marker.title"
                             [snippet]="marker.snippet"
                             [iconUrl]="marker.iconUrl"
                             [iconAnchor]="{ x: 22.5, y: 45 }"
                             [iconSize]="{ width: 45, height: 45}">
      </app-google-map-marker>
      -->
    </ng-container>
  </google-map>

</ion-content>
