<app-header-toolbar></app-header-toolbar>

<ion-content class="ion-padding">
  <ion-title class="sub-title">I Spy Koala</ion-title>
  <ion-grid>
    <form [formGroup]="form">
      <ion-row class="login-fields">
        <ion-col size="12" size-lg="6" size-md="6" offset-lg="3" offset-md="3">
            <ion-input label="Username"
                       label-placement="stacked"
                       fill="outline"
                       formControlName="username"
                       autocapitalize=off
                       class="field-spacing"></ion-input>
            <ion-input label="Password"
                       label-placement="stacked"
                       fill="outline"
                       formControlName="password"
                       type="password"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="login-actions">
        <ion-col size="7" size-lg="4" size-md="4" offset-md="4" offset-lg="4">
          <ion-label
            class="forgot-pwd-btn"
            (click)="doForgotPassword()">
            Forgotten password?
          </ion-label>
        </ion-col>

        <ion-col size="12" size-lg="4" size-md="4" offset-md="4" offset-lg="4">
          <ion-button type="submit"
                      expand="block"
                      class="login-btn"
                      [disabled]="!form.valid"
                      (click)="doLogin()">
            Log in
          </ion-button>
        </ion-col>

        <ion-col size="12" size-lg="4" size-md="4" offset-md="4" offset-lg="4">
          <ion-button type="submit"
                      expand="block"
                      (click)="doSignup()">
            Register
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
