.sub-title {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.login-fields {

  ion-input {
    --border-color: var(--ion-color-secondary);
  }
  .field-spacing {
    margin-bottom: 25px;
  }
}

.login-actions {
  margin-top: 10px;
  gap: 10px;

  .forgot-pwd-btn {
    text-decoration: underline;
  }

  .login-btn {
    color: var(--ion-color-light);
    --background: var(--ion-color-primary);
    background: var(--ion-color-primary);
  }

}
