// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// VLC: without this, alert dialogs (eg. "Are you sure?")
// have a scrollbar:
.alert-message {
  min-width: 50%;
  overflow-y: auto;
}

img.sidepanel-icon {
  float:left;
  vertical-align: middle;
  height: 2em;
  margin-right: 1.5em;
}

td.sidepanel-title {
  vertical-align: middle;
}

.info {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;

    h1 {
        color: black;
    }

    p {
        color: black;
        font-size: 14pt;
    }
}

ion-segment {
    padding-bottom: 16px;
}

// on iOS, Voiceover says "Button back back" meaning "'Button back', 'Back'"

.ion-md-close {
    name: '';
}