<div *ngIf="form && formDescriptor">
    <form [formGroup]="form">
        <ion-item-group *ngIf="formDescriptor.dateFields && formDescriptor.dateFields.length">
            <ion-item-divider color="secondary">
                <ion-icon name="calendar"></ion-icon>
                Dates
            </ion-item-divider>
            <ion-item *ngFor="let field of formDescriptor.dateFields">
                <ion-label
                    color="{{ form.controls[field.key].errors && form.controls[field.key].dirty ? 'danger' : '#000' }}"
                    stacked>
                    {{ field.label }}
                    <span *ngIf="form.controls[field.key].errors && form.controls[field.key].dirty">
                            ({{ getFieldError(field) }})
                        </span>
                </ion-label>
                <ion-datetime [formControlName]="field.key"
                              [displayFormat]="field.format | pyDateFormatToIonicDateFormat"></ion-datetime>
            </ion-item>
        </ion-item-group>
        <ion-item-group *ngIf="formDescriptor.locationFields && formDescriptor.locationFields.length">
            <ion-item-divider color="secondary">
                <ion-icon name="locate"></ion-icon>
                Location
                <button ion-button color="primary" (click)="updateLocationFields()" class="item-divider-button">
                    Update
                </button>
            </ion-item-divider>
            <ion-item *ngFor="let field of formDescriptor.locationFields" [ngSwitch]="field.type">
                <ion-label
                    color="{{ form.controls[field.key].errors && form.controls[field.key].dirty ? 'danger' : '#000' }}"
                    stacked>
                    {{ field.label }}
                    <span *ngIf="form.controls[field.key].errors && form.controls[field.key].dirty">
                            ({{ getFieldError(field) }})
                        </span>
                </ion-label>
                <ion-select *ngSwitchCase="'select'" [formControlName]="field.key">
                    <ion-option *ngFor="let opt of field.options" [value]="opt.value">{{ opt.name }}</ion-option>
                </ion-select>
                <ion-input *ngSwitchDefault [type]="field.type" [formControlName]="field.key"></ion-input>
            </ion-item>
        </ion-item-group>
        <ion-item-group *ngIf="formDescriptor.requiredFields && formDescriptor.requiredFields.length">
            <ion-item-divider color="secondary">
                <ion-icon name="star"></ion-icon>
                Required Fields
            </ion-item-divider>
            <ion-item *ngFor="let field of formDescriptor.requiredFields" [ngSwitch]="field.type">
                <ion-label
                    color="{{ form.controls[field.key].errors && form.controls[field.key].dirty ? 'danger' : '#000' }}"
                    stacked>
                    {{ field.label }}
                    <span *ngIf="form.controls[field.key].errors && form.controls[field.key].dirty">
                            ({{ getFieldError(field) }})
                        </span>
                </ion-label>

                <ion-select [placeholder]="field.description || ''" *ngSwitchCase="'select'" [formControlName]="field.key">
                    <ion-option *ngFor="let opt of field.options" [value]="opt.value">{{ opt.name }}</ion-option>
                </ion-select>

                <ion-datetime *ngSwitchCase="'datetime'" [formControlName]="field.key"></ion-datetime>

                <ion-input [placeholder]="field.description || ''"  *ngSwitchDefault [type]="field.type" [formControlName]="field.key"></ion-input>

            </ion-item>
        </ion-item-group>
        <ion-item-group *ngIf="formDescriptor.optionalFields && formDescriptor.optionalFields.length">
            <ion-item-divider color="secondary">
                <ion-icon name="star-outline"></ion-icon>
                Optional Fields
            </ion-item-divider>
            <ion-item *ngFor="let field of formDescriptor.optionalFields" [ngSwitch]="field.type">
                <ion-label
                    color="{{ form.controls[field.key].errors && form.controls[field.key].dirty ? 'danger' : '#000' }}"
                    stacked>
                    {{ field.label }}
                    <span *ngIf="form.controls[field.key].errors && form.controls[field.key].dirty">
                            ({{ getFieldError(field) }})
                        </span>
                </ion-label>

                <ion-select [placeholder]="field.description || ''" *ngSwitchCase="'select'" [formControlName]="field.key">
                    <ion-option *ngFor="let opt of field.options" [value]="opt.value">{{ opt.name }}</ion-option>
                </ion-select>

                <ion-datetime *ngSwitchCase="'datetime'" [formControlName]="field.key"></ion-datetime>

                <!--This is for the hypothetical "tool tip required" scenario:-->
                <!--npm i &#45;&#45;save ionic-tooltips-->
                <!--<button icon-only ion-button clear type="button" [tooltip]="field.description || field.label" item-right>-->
                <!--<ion-icon name="help-circle"></ion-icon>-->
                <!--</button>-->
                <ion-input [placeholder]="field.description || ''" *ngSwitchDefault [type]="field.type" [formControlName]="field.key"></ion-input>
            </ion-item>
        </ion-item-group>
        <ion-input *ngFor="let field of formDescriptor.hiddenFields" [type]="field.type"
                   [formControlName]="field.key">
        </ion-input>
    </form>
</div>
