<div class='app-field' *ngIf="field && formGroup" [formGroup]="formGroup" >
  <ion-input labelPlacement="stacked"
             fill="outline"
             [placeholder]="field.description || ''"
             [formControlName]="field.key"
             [type]="'number'"
             [step]="'1'"
             (ionChange)="doChange()"
             (ionBlur)="checkErrors()">

    <div slot="label">
      {{ field.label }}
      <ion-text *ngIf="error && this.isBlurred" color="danger">({{ error }})</ion-text>
    </div>

  </ion-input>
  <app-help-button *ngIf="field.example" [id]="'help-' + (field.key | classify)">
    {{ field.example }}
  </app-help-button>
</div>
