img {
  height: 35vh;
  width:100%
}
.info {

  .welcome-text {
    margin-top: 0;
  }

  .injured-txt {
    font-weight: 500;
  }
}

.home-actions {
  display: flex;
  flex-direction: column;

  ion-label {
    font-size: 22px;
    font-weight: 500;
  }
}
