<ng-container *ngIf="record$ | async as record">
  <ng-container *ngIf="dataset$ | async as dataset">
    <app-base-record [title]="'Tree Survey'"
                     [dataset]="dataset"
                     [record]="record"
                     [countField]="'Count'"
                     [dateField]="'First Date'"
                     [deleteHeader]="'Tree Survey'"
                     [deleteQuestion]="'Do you want to delete this Tree Survey?'">
    </app-base-record>
  </ng-container>
</ng-container>
