<div class='app-field' *ngIf="field && formGroup && field.options" [formGroup]="formGroup">
  <ion-select labelPlacement="floating"
              fill="outline"
              [placeholder]="field.description || ''"
              [formControlName]="field.key"
              (ionBlur)="checkErrors()">

    <div slot="label">
      {{ field.label }}
      <ion-text *ngIf="error && this.isBlurred" color="danger">({{ error }})</ion-text>
    </div>

    <ion-select-option *ngFor="let option of field.options" [value]="option.value">
      {{ option.text }}
    </ion-select-option>
  </ion-select>
  <app-help-button *ngIf="field.example" [id]="'help-' + (field.key | classify)">
    {{ field.example }}
  </app-help-button>
</div>
