<ng-container *ngIf="photos$ | async as photos">
  <ng-container *ngIf="photos.length === 0">
    <ng-container *ngIf="writeable">
    </ng-container>

    <ng-container *ngIf="!writeable">
      <ion-card>
        <ion-card-content>
          This record has been uploaded, photos cannot be added or deleted.
        </ion-card-content>
      </ion-card>
    </ng-container>

  </ng-container>

  <ng-container *ngIf="photos.length > 0">
    <app-photo-gallery>
    </app-photo-gallery>
  </ng-container>
</ng-container>
