<app-header-toolbar [title]="'Additional resources'"></app-header-toolbar>

<ion-content class="ion-padding">
  <div class="resource-dividers">
    <ion-item-divider mode="md">
      <ion-label>Overview</ion-label>
      <div class="overview-info">I Spy Koala can be used to report the location of wild koalas. Resources below include how to find koalas in the wild, where to view submitted records within NSW wildlife databases (BioNet) and how community members can get involved in koala conservation.</div>
    </ion-item-divider>
    <ion-item-divider mode="md">
      <ion-label>How to find koalas in the wild</ion-label>
      <iframe src="https://www.youtube.com/embed/srZn_MHsUk8?si=lo60TQ2P1xYBUlHL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </ion-item-divider>

    <ion-item-divider mode="md">
      <ion-label>Search all NSW koala records</ion-label>
      <span class="overview-info">Use the <img src="../../assets/imgs/seedmenu.png"> icons to toggle between map and layers view.</span>
      <ion-button mode="md" (click)="doOpenKoalaSearch()">Search NSW koala records</ion-button>
    </ion-item-divider>

    <ion-item-divider mode="md">
      <ion-label>Learn more about the work Koala Strategy is doing to conserve koalas</ion-label>
      <ion-button mode="md" (click)="doOpenKoalaStrategy()">Learn more about Koala Strategy</ion-button>
    </ion-item-divider>
  </div>
</ion-content>
