<ion-content class="ion-padding">

  <app-record-list *ngIf="records$ | async as records" [records]="records"> </app-record-list>
  <ion-label *ngIf="!(records$ | async)?.length">No records found</ion-label>
  <div class="action-btns">
    <ion-button [disabled]="!(records$ | async)?.length" (click)="doUpload()">Upload my records</ion-button>

    <div class="record-new-action">
      <ion-label>Record a new</ion-label>
      <ion-button (click)="doNewObservation()">Observation</ion-button>
      <ion-button (click)="doNewCensus()">Scat census</ion-button>
    </div>

  </div>
</ion-content>

