<ng-container *ngIf="field">

  <ng-container [ngSwitch]="field.type">
    <app-integer-field *ngSwitchCase="'integer'" (keyup.enter)="closeKeyboard()" [formGroup]="formGroup" [field]="field" [readonly]="readonly"/>
    <app-number-field *ngSwitchCase="'number'" (keyup.enter)="closeKeyboard()" [formGroup]="formGroup" [field]="field" [readonly]="readonly"/>
    <app-select-field *ngSwitchCase="'select'" (keyup.enter)="closeKeyboard()" [formGroup]="formGroup" [field]="field" [readonly]="readonly"/>
    <app-text-field *ngSwitchDefault (keyup.enter)="closeKeyboard()" [formGroup]="formGroup" [field]="field" [readonly]="readonly"/>
  </ng-container>

</ng-container>
